In [1]:
https://api.stlouisfed.org/fred/series/observations?series_id=GNPCA&realtime_start=1776-07-04&realtime_end=9999-12-31&api_key=26416751b7170203db3899c3a6215e78

SyntaxError: invalid syntax (<ipython-input-1-8b94ce520e97>, line 1)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [16]:
df = pd.DataFrame(np.array([[0,1,2],[1,np.NaN,1],[2,3,0]]))

In [19]:
df

     0    1    2
0  0.0  1.0  2.0
1  1.0  NaN  1.0
2  2.0  3.0  0.0

In [10]:
df.index.get_loc(df[0] == 0)

TypeError: '0     True
1    False
2    False
Name: 0, dtype: bool' is an invalid key

In [20]:
df.rolling(100, min_periods = 1).mean()

     0    1    2
0  0.0  1.0  2.0
1  0.5  1.0  1.5
2  1.0  2.0  1.0

In [24]:
 df[0] = df[0].mask(df[0] == 0,df[0].rolling(100, min_periods = 1).mean())

In [22]:
df

     0    1    2
0  0.0  1.0  2.0
1  1.0  NaN  1.0
2  2.0  3.0  0.0