In [86]:
#Imports and API Key

import pandas as pd
import quandl
from scipy import stats
import scipy
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
import matplotlib.pyplot as plt

quandl.ApiConfig.api_key = 'm8FYMyoCaJSbTrBASNHh'

In [88]:
data = pd.read_csv('data_for_pull.csv') #staging the QUANDL keys to pull in CSV

In [91]:
cols = list(data['Var_name'].astype('str'))

In [93]:
dataset = quandl.get([val for val in data['Quandl Key']]) #looping through the QUANDL keys to pull it into one DF

In [105]:
dataset.columns = cols

In [94]:
#pulling in FED yield curve data

yields = pd.read_csv('Fed10Y_3M.csv')

In [95]:
yields['Date'] = pd.to_datetime(yields['Date'])

In [96]:
yields['Date'] = yields['Date'].apply(lambda x: x.strftime('%Y-%m'))

In [97]:
yields = yields.set_index('Date')

In [98]:
yields = yields.drop(['3 Month Treasury Yield', 'Rec_prob', 'NBER_Rec','Unnamed: 7'], axis=1)

In [99]:
## back to working on the general data
dataset.index = dataset.index.strftime('%Y-%m') #converting the datetime index to Y/M so it is collapsable

In [100]:
dataset = dataset.groupby(dataset.index, as_index=True).agg(sum) #collapsing by Y/M

In [103]:
dataset.head()

,SGE/USABCONF - Value,SGE/USAUNR - Value,SGE/USAUNRY - Value,FRED/GDP - Value,SGE/USACNCN - Value,SGE/USAEHS - Value,FRED/LNS12032199 - Value,FRED/WPUSI019011 - Value,FRED/PERMIT - Value,FRED/HOUST - Value,...,SGE/USAPSAV - Value,SGE/USAEXVOL - Value,SGE/USAIMVOL - Value,SGE/USABOT - Value,FRED/FEDFUNDS - Value,SGE/USAM2 - Value,SGE/USANHS - Value,FRED/PPIACO - Value,FRED/USACPIALLMINMEI - VALUE,FRED/DGS3 - Value
1913-01,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,12.100,0.000,0.000
1913-02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000
1913-03,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000
1913-04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000
1913-05,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,11.900,0.000,0.000

In [106]:
#converting GDP quarterly data into monthly


i = 0

for val in dataset['GDP']:
    if val == 0:
        dataset['GDP'].iloc[i] = dataset['GDP'].iloc[i-1]
        #print(i)
    
    i += 1

In [107]:
#converting Cons Sent into monthly

i = 0

for val in dataset['CONS_SENT']:
    if val == 0:
        dataset['CONS_SENT'].iloc[i] = dataset['CONS_SENT'].iloc[i-1]
        #print(i)
    
    i += 1

In [108]:
#calculating change in GDP and converting Y into categorical values 
dataset['Recession'] = ((dataset['GDP'] - dataset['GDP'].shift(3)) < 0).astype(int)

In [110]:
dataset.head()

,PMI,UNR,YUNR,GDP,CONS_SENT,HOME_SALES,PART_TIME,CPPR_PRICE,HOUS_PERMS,HOUS_STARTS,...,EXPORTS,IMPORTS,TRADE_BALANCE,INT_RATE,US_M2,US_NHOME_SALES,PPI,CPI,3YRT,Recession
1913-01,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,12.100,0.000,0.000,0
1913-02,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000,0
1913-03,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000,0
1913-04,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,12.000,0.000,0.000,0
1913-05,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,11.900,0.000,0.000,0

In [111]:
#merge fed interest rate data here
dataset = dataset.join(yields, how='outer')

In [113]:
#somehow consumer sentiment drops out here
dataset.head()

,PMI,UNR,YUNR,GDP,CONS_SENT,HOME_SALES,PART_TIME,CPPR_PRICE,HOUS_PERMS,HOUS_STARTS,...,INT_RATE,US_M2,US_NHOME_SALES,PPI,CPI,3YRT,Recession,10 Year Treasury Yield,3 Month Treasury Yield (Bond Equivalent Basis),Spread
1913-01,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,12.100,0.000,0.000,0.000,nan,nan,nan
1913-02,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,12.000,0.000,0.000,0.000,nan,nan,nan
1913-03,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,12.000,0.000,0.000,0.000,nan,nan,nan
1913-04,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,12.000,0.000,0.000,0.000,nan,nan,nan
1913-05,0.000,0.000,0.000,0.000,98.400,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,11.900,0.000,0.000,0.000,nan,nan,nan

In [119]:
#NANs before cuts
dataset.isna().sum()

PMI                                                11
UNR                                                11
YUNR                                               11
CONS_SENT                                          11
HOME_SALES                                         11
PART_TIME                                          11
CPPR_PRICE                                         11
HOUS_PERMS                                         11
HOUS_STARTS                                        11
CAP_UTIL                                           11
PERS_SAVINGS                                       11
EXPORTS                                            11
IMPORTS                                            11
TRADE_BALANCE                                      11
INT_RATE                                           11
US_M2                                              11
US_NHOME_SALES                                     11
PPI                                                11
CPI                                                11
3YRT                                               11
10 Year Treasury Yield                            564
3 Month Treasury Yield (Bond Equivalent Basis)    564
Spread                                            564
PMI_PXY                                             0
UNR_PXY                                             0
YUNR_PXY                                            0
HOME_SALES_PXY                                      0
PART_TIME_PXY                                       0
CPPR_PRICE_PXY                                      0
HOUS_PERMS_PXY                                      0
HOUS_STARTS_PXY                                     0
CAP_UTIL_PXY                                        0
PERS_SAVINGS_PXY                                    0
EXPORTS_PXY                                         0
IMPORTS_PXY                                         0
TRADE_BALANCE_PXY                                   0
INT_RATE_PXY                                        0
US_M2_PXY                                           0
US_NHOME_SALES_PXY                                  0
PPI_PXY                                             0
CPI_PXY                                             0
3YRT_PXY                                            0
dtype: int64

In [120]:
#counting number of 0s
(dataset==0).astype(int).sum(axis=0)

PMI                                                  0
UNR                                                  0
YUNR                                                 0
CONS_SENT                                            0
HOME_SALES                                           0
PART_TIME                                            0
CPPR_PRICE                                           0
HOUS_PERMS                                           0
HOUS_STARTS                                          0
CAP_UTIL                                             0
PERS_SAVINGS                                         0
EXPORTS                                              0
IMPORTS                                              0
TRADE_BALANCE                                        0
INT_RATE                                             0
US_M2                                                0
US_NHOME_SALES                                       0
PPI                                                  0
CPI                                                  0
3YRT                                                 0
10 Year Treasury Yield                               0
3 Month Treasury Yield (Bond Equivalent Basis)       0
Spread                                               0
PMI_PXY                                            866
UNR_PXY                                            865
YUNR_PXY                                           781
HOME_SALES_PXY                                     625
PART_TIME_PXY                                      777
CPPR_PRICE_PXY                                     637
HOUS_PERMS_PXY                                     721
HOUS_STARTS_PXY                                    733
CAP_UTIL_PXY                                       637
PERS_SAVINGS_PXY                                   731
EXPORTS_PXY                                        840
IMPORTS_PXY                                        840
TRADE_BALANCE_PXY                                  840
INT_RATE_PXY                                       788
US_M2_PXY                                          733
US_NHOME_SALES_PXY                                 685
PPI_PXY                                           1285
CPI_PXY                                            734
3YRT_PXY                                           698
dtype: int64

In [121]:
#cutoff most of missing data, Post March 2019, Prior 1959

In [122]:
dataset = dataset.iloc[552:]

In [123]:
dataset = dataset.iloc[:-12]

In [124]:
dataset.shape

(722, 42)

In [125]:
(dataset==0).astype(int).sum(axis=0) #

PMI                                                 0
UNR                                                 0
YUNR                                                0
CONS_SENT                                           0
HOME_SALES                                          0
PART_TIME                                           0
CPPR_PRICE                                          0
HOUS_PERMS                                          0
HOUS_STARTS                                         0
CAP_UTIL                                            0
PERS_SAVINGS                                        0
EXPORTS                                             0
IMPORTS                                             0
TRADE_BALANCE                                       0
INT_RATE                                            0
US_M2                                               0
US_NHOME_SALES                                      0
PPI                                                 0
CPI                                                 0
3YRT                                                0
10 Year Treasury Yield                              0
3 Month Treasury Yield (Bond Equivalent Basis)      0
Spread                                              0
PMI_PXY                                           722
UNR_PXY                                           722
YUNR_PXY                                          722
HOME_SALES_PXY                                    614
PART_TIME_PXY                                     722
CPPR_PRICE_PXY                                    626
HOUS_PERMS_PXY                                    710
HOUS_STARTS_PXY                                   722
CAP_UTIL_PXY                                      626
PERS_SAVINGS_PXY                                  720
EXPORTS_PXY                                       721
IMPORTS_PXY                                       721
TRADE_BALANCE_PXY                                 721
INT_RATE_PXY                                      722
US_M2_PXY                                         722
US_NHOME_SALES_PXY                                674
PPI_PXY                                           722
CPI_PXY                                           675
3YRT_PXY                                          686
dtype: int64

In [129]:
def clean_zeros(col_name,df_name):
    if df_name[str(col_name)][df_name[str(col_name)]==0].count():
        df_name[str(col_name)+'_PXY'] = (df_name[col_name] == 0).astype(int)
        df_name[col_name] = df_name[col_name].mask(df_name[col_name] == 0,df_name[col_name].mean())

In [130]:
dataset

,PMI,UNR,YUNR,CONS_SENT,HOME_SALES,PART_TIME,CPPR_PRICE,HOUS_PERMS,HOUS_STARTS,CAP_UTIL,...,PERS_SAVINGS_PXY,EXPORTS_PXY,IMPORTS_PXY,TRADE_BALANCE_PXY,INT_RATE_PXY,US_M2_PXY,US_NHOME_SALES_PXY,PPI_PXY,CPI_PXY,3YRT_PXY
1959-01,64.400,6.000,11.600,90.800,1903.224,1022.000,93.780,754.853,1657.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-02,66.900,5.900,11.100,90.800,1903.224,973.000,93.780,754.853,1667.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-03,67.100,5.600,11.100,90.800,1903.224,1102.000,93.780,754.853,1620.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-04,66.900,5.200,10.800,90.800,1903.224,1086.000,93.780,754.853,1590.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-05,68.200,5.100,10.000,95.300,1903.224,968.000,93.780,754.853,1498.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-06,64.400,5.000,10.500,95.300,1903.224,1006.000,93.780,754.853,1503.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-07,61.500,5.100,10.500,95.300,1903.224,1071.000,93.780,754.853,1547.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-08,55.100,5.200,11.200,95.300,1903.224,983.000,93.780,754.853,1430.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-09,48.300,5.500,11.300,95.300,1903.224,887.000,93.780,754.853,1540.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-10,49.700,5.700,11.500,95.300,1903.224,1075.000,93.780,754.853,1355.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-11,50.600,5.800,11.300,93.800,1903.224,993.000,93.780,754.853,1416.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1959-12,58.200,5.300,11.100,93.800,1903.224,1000.000,93.780,754.853,1601.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-01,61.500,5.200,10.900,93.800,1903.224,1015.000,93.780,1092.000,1460.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-02,52.300,4.800,10.200,93.800,1903.224,1062.000,93.780,1088.000,1503.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-03,47.800,5.400,11.500,93.800,1903.224,888.000,93.780,955.000,1109.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-04,45.300,5.200,10.900,93.800,1903.224,1041.000,93.780,1016.000,1289.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-05,42.600,5.100,10.700,93.300,1903.224,988.000,93.780,1052.000,1271.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-06,44.400,5.400,11.000,93.300,1903.224,966.000,93.780,958.000,1247.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-07,43.700,5.500,10.800,93.300,1903.224,1013.000,93.780,999.000,1197.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-08,47.600,5.600,11.400,97.200,1903.224,1018.000,93.780,994.000,1344.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-09,45.400,5.500,11.000,97.200,1903.224,1027.000,93.780,984.000,1097.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-10,46.000,6.100,11.800,97.200,1903.224,1017.000,93.780,972.000,1246.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-11,44.300,6.100,12.000,90.100,1903.224,1086.000,93.780,979.000,1246.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1960-12,44.300,6.600,13.000,90.100,1903.224,1104.000,93.780,951.000,1063.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-01,43.900,6.600,13.000,90.100,1903.224,1177.000,93.780,969.000,1183.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-02,43.600,6.900,13.300,91.600,1903.224,1060.000,93.780,961.000,1226.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-03,49.100,6.900,13.400,91.600,1903.224,1101.000,93.780,1000.000,1312.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-04,57.600,7.000,14.300,91.600,1903.224,1140.000,93.780,1002.000,1166.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-05,58.900,7.100,13.100,92.500,1903.224,1181.000,93.780,1027.000,1228.000,39.407,...,0,0,0,0,0,0,1,0,0,1
1961-06,58.100,6.900,13.100,92.500,1903.224,1215.000,93.780,1070.000,1382.000,39.407,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09,51.300,5.000,10.400,91.200,5470.000,1927.000,313.800,1276.000,1064.000,74.935,...,0,0,0,0,0,0,0,0,1,0
2016-10,51.700,4.900,10.400,87.200,5560.000,2119.000,321.200,1276.000,1327.000,75.041,...,0,0,0,0,0,0,0,0,1,0
2016-11,53.000,4.700,9.900,93.800,5510.000,1876.000,338.600,1249.000,1151.000,74.859,...,0,0,0,0,0,0,0,0,1,0
2016-12,54.300,4.700,9.800,98.200,5520.000,1864.000,354.600,1263.000,1280.000,75.468,...,0,0,0,0,0,0,0,0,1,0
2017-01,56.000,4.700,10.000,98.500,5640.000,1897.000,352.900,1329.000,1225.000,75.519,...,0,0,0,0,0,0,0,0,1,0
2017-02,57.600,4.700,9.800,96.300,5480.000,1841.000,365.900,1248.000,1289.000,75.210,...,0,0,0,0,0,0,0,0,1,0
2017-03,56.600,4.400,9.200,96.900,5590.000,1788.000,361.000,1279.000,1179.000,75.699,...,0,0,0,0,0,0,0,0,1,0
2017-04,55.800,4.400,9.400,97.000,5530.000,1748.000,359.500,1255.000,1165.000,76.364,...,0,0,0,0,0,0,0,0,1,0
2017-05,55.500,4.400,8.700,97.100,5590.000,1768.000,353.800,1205.000,1122.000,76.455,...,0,0,0,0,0,0,0,0,1,0
2017-06,56.500,4.300,9.100,95.000,5500.000,1736.000,353.600,1312.000,1225.000,76.569,...,0,0,0,0,0,0,0,0,1,0
2017-07,56.600,4.300,9.000,93.400,5470.000,1749.000,364.500,1258.000,1185.000,76.528,...,0,0,0,0,0,0,0,0,1,0
2017-08,58.900,4.400,9.100,96.800,5440.000,1663.000,380.400,1300.000,1172.000,76.153,...,0,0,0,0,0,0,0,0,1,0
2017-09,60.000,4.200,9.100,95.100,5400.000,1689.000,398.200,1254.000,1158.000,76.138,...,0,0,0,0,0,0,0,0,1,0
2017-10,58.400,4.100,9.000,100.700,5480.000,1625.000,398.600,1343.000,1265.000,77.268,...,0,0,0,0,0,0,0,0,1,0
2017-11,57.700,4.200,9.600,98.500,5640.000,1518.000,402.300,1323.000,1303.000,77.648,...,0,0,0,0,0,0,0,0,1,0
2017-12,59.400,4.100,8.900,95.900,5570.000,1566.000,400.200,1320.000,1210.000,77.857,...,0,0,0,0,0,0,0,0,1,0
2018-01,59.600,4.100,9.200,95.700,5400.000,1643.000,410.600,1366.000,1334.000,77.608,...,0,0,0,0,0,0,0,0,1,0
2018-02,60.700,4.100,9.000,99.700,5610.000,1527.000,412.000,1323.000,1290.000,77.818,...,0,0,0,0,0,0,0,0,1,0
2018-03,59.300,4.000,8.500,101.400,5510.000,1613.000,407.900,1377.000,1327.000,78.186,...,0,0,0,0,0,0,0,0,1,0
2018-04,57.900,3.900,8.400,98.800,5430.000,1552.000,406.900,1364.000,1276.000,78.805,...,0,0,0,0,0,0,0,0,1,0
2018-05,58.700,3.800,8.600,98.000,5400.000,1464.000,406.500,1301.000,1329.000,78.079,...,0,0,0,0,0,0,0,0,1,0
2018-06,60.000,4.000,8.900,98.200,5390.000,1437.000,416.400,1292.000,1177.000,78.553,...,0,0,0,0,0,0,0,0,1,0
2018-07,58.400,3.900,8.600,97.900,5390.000,1429.000,397.400,1303.000,1184.000,78.779,...,0,0,0,0,0,0,0,0,1,0
2018-08,60.800,3.800,8.400,96.200,5350.000,1367.000,382.300,1249.000,1280.000,79.281,...,0,0,0,0,0,0,0,0,1,0
2018-09,59.500,3.700,8.500,100.100,5180.000,1462.000,369.600,1270.000,1237.000,79.254,...,0,0,0,0,0,0,0,0,1,0
2018-10,57.500,3.800,8.300,98.600,5220.000,1453.000,376.300,1265.000,1209.000,79.205,...,0,0,0,0,0,0,0,0,1,0
2018-11,58.800,3.700,8.100,97.500,5210.000,1571.000,377.600,1322.000,1206.000,79.624,...,0,0,0,0,0,0,0,0,1,0
2018-12,54.300,3.900,8.700,98.300,5000.000,1473.000,377.900,1326.000,1140.000,79.422,...,0,0,0,0,0,0,0,0,1,0
2019-01,56.600,4.000,9.100,91.200,4930.000,1401.000,374.300,1317.000,1273.000,79.234,...,1,0,0,0,0,0,0,0,1,0
2019-02,54.200,3.800,8.900,93.800,5510.000,1339.000,374.900,1296.000,1162.000,79.126,...,1,1,1,1,0,0,0,0,1,0

In [131]:
y = dataset['Recession'] #splitting off Y

KeyError: 'Recession'

In [133]:
y_shift = y.shift(-3) #shifting y to forecast 3 months out

In [134]:
y_shift = y_shift.fillna(0)

In [135]:
dataset = dataset.drop(columns = ['GDP','Recession']) #dropping calc column and recession column from dataset, experimenting with taking out fed funds rate

KeyError: "['GDP' 'Recession'] not found in axis"

In [136]:
for col in dataset.columns:
    clean_zeros(col, dataset)

In [137]:
dataset

,PMI,UNR,YUNR,CONS_SENT,HOME_SALES,PART_TIME,CPPR_PRICE,HOUS_PERMS,HOUS_STARTS,CAP_UTIL,...,PERS_SAVINGS_PXY_PXY,EXPORTS_PXY_PXY,IMPORTS_PXY_PXY,TRADE_BALANCE_PXY_PXY,INT_RATE_PXY_PXY,US_M2_PXY_PXY,US_NHOME_SALES_PXY_PXY,PPI_PXY_PXY,CPI_PXY_PXY,3YRT_PXY_PXY
1959-01,64.400,6.000,11.600,90.800,1903.224,1022.000,93.780,754.853,1657.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-02,66.900,5.900,11.100,90.800,1903.224,973.000,93.780,754.853,1667.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-03,67.100,5.600,11.100,90.800,1903.224,1102.000,93.780,754.853,1620.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-04,66.900,5.200,10.800,90.800,1903.224,1086.000,93.780,754.853,1590.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-05,68.200,5.100,10.000,95.300,1903.224,968.000,93.780,754.853,1498.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-06,64.400,5.000,10.500,95.300,1903.224,1006.000,93.780,754.853,1503.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-07,61.500,5.100,10.500,95.300,1903.224,1071.000,93.780,754.853,1547.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-08,55.100,5.200,11.200,95.300,1903.224,983.000,93.780,754.853,1430.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-09,48.300,5.500,11.300,95.300,1903.224,887.000,93.780,754.853,1540.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-10,49.700,5.700,11.500,95.300,1903.224,1075.000,93.780,754.853,1355.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-11,50.600,5.800,11.300,93.800,1903.224,993.000,93.780,754.853,1416.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-12,58.200,5.300,11.100,93.800,1903.224,1000.000,93.780,754.853,1601.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-01,61.500,5.200,10.900,93.800,1903.224,1015.000,93.780,1092.000,1460.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-02,52.300,4.800,10.200,93.800,1903.224,1062.000,93.780,1088.000,1503.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-03,47.800,5.400,11.500,93.800,1903.224,888.000,93.780,955.000,1109.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-04,45.300,5.200,10.900,93.800,1903.224,1041.000,93.780,1016.000,1289.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-05,42.600,5.100,10.700,93.300,1903.224,988.000,93.780,1052.000,1271.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-06,44.400,5.400,11.000,93.300,1903.224,966.000,93.780,958.000,1247.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-07,43.700,5.500,10.800,93.300,1903.224,1013.000,93.780,999.000,1197.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-08,47.600,5.600,11.400,97.200,1903.224,1018.000,93.780,994.000,1344.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-09,45.400,5.500,11.000,97.200,1903.224,1027.000,93.780,984.000,1097.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-10,46.000,6.100,11.800,97.200,1903.224,1017.000,93.780,972.000,1246.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-11,44.300,6.100,12.000,90.100,1903.224,1086.000,93.780,979.000,1246.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1960-12,44.300,6.600,13.000,90.100,1903.224,1104.000,93.780,951.000,1063.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-01,43.900,6.600,13.000,90.100,1903.224,1177.000,93.780,969.000,1183.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-02,43.600,6.900,13.300,91.600,1903.224,1060.000,93.780,961.000,1226.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-03,49.100,6.900,13.400,91.600,1903.224,1101.000,93.780,1000.000,1312.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-04,57.600,7.000,14.300,91.600,1903.224,1140.000,93.780,1002.000,1166.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-05,58.900,7.100,13.100,92.500,1903.224,1181.000,93.780,1027.000,1228.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1961-06,58.100,6.900,13.100,92.500,1903.224,1215.000,93.780,1070.000,1382.000,39.407,...,1,1,1,1,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09,51.300,5.000,10.400,91.200,5470.000,1927.000,313.800,1276.000,1064.000,74.935,...,1,1,1,1,1,1,1,1,0,1
2016-10,51.700,4.900,10.400,87.200,5560.000,2119.000,321.200,1276.000,1327.000,75.041,...,1,1,1,1,1,1,1,1,0,1
2016-11,53.000,4.700,9.900,93.800,5510.000,1876.000,338.600,1249.000,1151.000,74.859,...,1,1,1,1,1,1,1,1,0,1
2016-12,54.300,4.700,9.800,98.200,5520.000,1864.000,354.600,1263.000,1280.000,75.468,...,1,1,1,1,1,1,1,1,0,1
2017-01,56.000,4.700,10.000,98.500,5640.000,1897.000,352.900,1329.000,1225.000,75.519,...,1,1,1,1,1,1,1,1,0,1
2017-02,57.600,4.700,9.800,96.300,5480.000,1841.000,365.900,1248.000,1289.000,75.210,...,1,1,1,1,1,1,1,1,0,1
2017-03,56.600,4.400,9.200,96.900,5590.000,1788.000,361.000,1279.000,1179.000,75.699,...,1,1,1,1,1,1,1,1,0,1
2017-04,55.800,4.400,9.400,97.000,5530.000,1748.000,359.500,1255.000,1165.000,76.364,...,1,1,1,1,1,1,1,1,0,1
2017-05,55.500,4.400,8.700,97.100,5590.000,1768.000,353.800,1205.000,1122.000,76.455,...,1,1,1,1,1,1,1,1,0,1
2017-06,56.500,4.300,9.100,95.000,5500.000,1736.000,353.600,1312.000,1225.000,76.569,...,1,1,1,1,1,1,1,1,0,1
2017-07,56.600,4.300,9.000,93.400,5470.000,1749.000,364.500,1258.000,1185.000,76.528,...,1,1,1,1,1,1,1,1,0,1
2017-08,58.900,4.400,9.100,96.800,5440.000,1663.000,380.400,1300.000,1172.000,76.153,...,1,1,1,1,1,1,1,1,0,1
2017-09,60.000,4.200,9.100,95.100,5400.000,1689.000,398.200,1254.000,1158.000,76.138,...,1,1,1,1,1,1,1,1,0,1
2017-10,58.400,4.100,9.000,100.700,5480.000,1625.000,398.600,1343.000,1265.000,77.268,...,1,1,1,1,1,1,1,1,0,1
2017-11,57.700,4.200,9.600,98.500,5640.000,1518.000,402.300,1323.000,1303.000,77.648,...,1,1,1,1,1,1,1,1,0,1
2017-12,59.400,4.100,8.900,95.900,5570.000,1566.000,400.200,1320.000,1210.000,77.857,...,1,1,1,1,1,1,1,1,0,1
2018-01,59.600,4.100,9.200,95.700,5400.000,1643.000,410.600,1366.000,1334.000,77.608,...,1,1,1,1,1,1,1,1,0,1
2018-02,60.700,4.100,9.000,99.700,5610.000,1527.000,412.000,1323.000,1290.000,77.818,...,1,1,1,1,1,1,1,1,0,1
2018-03,59.300,4.000,8.500,101.400,5510.000,1613.000,407.900,1377.000,1327.000,78.186,...,1,1,1,1,1,1,1,1,0,1
2018-04,57.900,3.900,8.400,98.800,5430.000,1552.000,406.900,1364.000,1276.000,78.805,...,1,1,1,1,1,1,1,1,0,1
2018-05,58.700,3.800,8.600,98.000,5400.000,1464.000,406.500,1301.000,1329.000,78.079,...,1,1,1,1,1,1,1,1,0,1
2018-06,60.000,4.000,8.900,98.200,5390.000,1437.000,416.400,1292.000,1177.000,78.553,...,1,1,1,1,1,1,1,1,0,1
2018-07,58.400,3.900,8.600,97.900,5390.000,1429.000,397.400,1303.000,1184.000,78.779,...,1,1,1,1,1,1,1,1,0,1
2018-08,60.800,3.800,8.400,96.200,5350.000,1367.000,382.300,1249.000,1280.000,79.281,...,1,1,1,1,1,1,1,1,0,1
2018-09,59.500,3.700,8.500,100.100,5180.000,1462.000,369.600,1270.000,1237.000,79.254,...,1,1,1,1,1,1,1,1,0,1
2018-10,57.500,3.800,8.300,98.600,5220.000,1453.000,376.300,1265.000,1209.000,79.205,...,1,1,1,1,1,1,1,1,0,1
2018-11,58.800,3.700,8.100,97.500,5210.000,1571.000,377.600,1322.000,1206.000,79.624,...,1,1,1,1,1,1,1,1,0,1
2018-12,54.300,3.900,8.700,98.300,5000.000,1473.000,377.900,1326.000,1140.000,79.422,...,1,1,1,1,1,1,1,1,0,1
2019-01,56.600,4.000,9.100,91.200,4930.000,1401.000,374.300,1317.000,1273.000,79.234,...,0,1,1,1,1,1,1,1,0,1
2019-02,54.200,3.800,8.900,93.800,5510.000,1339.000,374.900,1296.000,1162.000,79.126,...,0,0,0,0,1,1,1,1,0,1

In [118]:
(dataset==1).astype(int).sum(axis=0)

PMI                                                 0
UNR                                                 0
YUNR                                                0
CONS_SENT                                           0
HOME_SALES                                          0
PART_TIME                                           0
CPPR_PRICE                                          0
HOUS_PERMS                                          0
HOUS_STARTS                                         0
CAP_UTIL                                            0
PERS_SAVINGS                                        0
EXPORTS                                             0
IMPORTS                                             0
TRADE_BALANCE                                       0
INT_RATE                                            5
US_M2                                               0
US_NHOME_SALES                                      0
PPI                                                 0
CPI                                                 0
3YRT                                                0
10 Year Treasury Yield                              0
3 Month Treasury Yield (Bond Equivalent Basis)      1
Spread                                              0
PMI_PXY                                           420
UNR_PXY                                           421
YUNR_PXY                                          505
HOME_SALES_PXY                                    661
PART_TIME_PXY                                     509
CPPR_PRICE_PXY                                    649
HOUS_PERMS_PXY                                    565
HOUS_STARTS_PXY                                   553
CAP_UTIL_PXY                                      649
PERS_SAVINGS_PXY                                  555
EXPORTS_PXY                                       446
IMPORTS_PXY                                       446
TRADE_BALANCE_PXY                                 446
INT_RATE_PXY                                      498
US_M2_PXY                                         553
US_NHOME_SALES_PXY                                601
PPI_PXY                                             1
CPI_PXY                                           552
3YRT_PXY                                          588
dtype: int64

In [138]:
dataset.head()

,PMI,UNR,YUNR,CONS_SENT,HOME_SALES,PART_TIME,CPPR_PRICE,HOUS_PERMS,HOUS_STARTS,CAP_UTIL,...,PERS_SAVINGS_PXY_PXY,EXPORTS_PXY_PXY,IMPORTS_PXY_PXY,TRADE_BALANCE_PXY_PXY,INT_RATE_PXY_PXY,US_M2_PXY_PXY,US_NHOME_SALES_PXY_PXY,PPI_PXY_PXY,CPI_PXY_PXY,3YRT_PXY_PXY
1959-01,64.400,6.000,11.600,90.800,1903.224,1022.000,93.780,754.853,1657.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-02,66.900,5.900,11.100,90.800,1903.224,973.000,93.780,754.853,1667.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-03,67.100,5.600,11.100,90.800,1903.224,1102.000,93.780,754.853,1620.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-04,66.900,5.200,10.800,90.800,1903.224,1086.000,93.780,754.853,1590.000,39.407,...,1,1,1,1,1,1,0,1,1,0
1959-05,68.200,5.100,10.000,95.300,1903.224,968.000,93.780,754.853,1498.000,39.407,...,1,1,1,1,1,1,0,1,1,0

In [ ]:
#adding momentum factors

In [ ]:
### Data Prep Finished Here ###